.nav-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  border-left: 5px solid #ED6FBA; 
  border-right: 5px solid #ED6FBA;
  border-bottom: 5px solid #ED6FBA; 
  border-radius: 8px;
  padding: 10px;
}

  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none; 
    color: #ffffff;
    align-items: center;
  }
  
  .nav-item.active a {
    color: #d9ff00;
  }
  
  
  .nav-item a:hover {
    color: #ED6FBA; 
  }
  
  