.sales-table {
    width: 70%; /* Cambiado el ancho para que se vea mejor */
    border-collapse: collapse;
    margin-left: 2%;
    text-align: center;
    align-items: center; /* Centra verticalmente el contenido */
}

.sales-table th,
.sales-table td {
    border: 1px solid #dddddd;
    padding: 8px; /* Aumentado el padding para mejor legibilidad */
}

.sales-table th {
    background-color: #f2f2f2;
}

/* Estilos para los botones dentro de la tabla */
.sales-table button {
    padding: 10px 20px; /* Aumenta el padding para hacer el botón más grande */
    background-color: #ff009d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    line-height: 1.5; /* Ajusta la altura de línea para centrar el texto verticalmente */
}

.sales-table button:hover {
    background-color: #0056b3;
}

.sales-table button:focus {
    outline: none;
}

/* Estilos para el contenedor de los totales a la derecha */
.total-container {
    background-color: #f2f2f2;
    border: solid 5px #ff009d;
    margin-top: -210px;
    width: 20%; /* Puedes ajustar el ancho según sea necesario */
    margin-left: auto;
    justify-content: center;
    text-align: left;
    padding: 15 px; 
}
