/* Estilos para el contenedor del buscador */
.search-box {
    display: flex;
    align-items: center;
}

/* Estilos para el input de búsqueda */
.search-box input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    width: 200px; /* Ajusta el ancho según sea necesario */
}

/* Estilos para el botón de búsqueda */
.search-box button {
    padding: 10px 20px;
    background-color: #ff00f2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.search-box button:hover {
    background-color: #b300a4;
}
